.programming-languages-list {
    height: 100%;
    width: 100%;
    margin-top: 40px;
}

.programming-languages-skills {
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 4px;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: rgba(29, 29, 29);
    border-radius: 10px;
}

.programming-languages-skill-item {
    height: 250px;
    width: 250px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.programming-languages-skill-item-active {
    height: 300px;
    width: 300px;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.programming-skill-photo {
    height: 90%;
    width: 90%;
    object-fit: contain;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 20%, rgba(29, 29, 150, 0.8) 60%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.programming-skills-details {
    color: black;
    width: 60%;
    margin: 20px auto;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 20%, rgba(29, 29, 150, 0.8) 60%);
}

.programming-skills-details-title{
    font-size: xx-large;
    line-height: 60px;
    width: 100% !important;
    text-indent: 20px;
}

.programming-skills-details-list {
    color: white;
    font-size: large;
    line-height: 60px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
}

.programming-skills-details-list div{
    margin: 10px auto;
    width: 100%;
    text-indent: 20px;
    background: rgb(29, 29, 29);
}