@import url('https://fonts.googleapis.com/css?family=Bungee Hairline');
@import url('https://fonts.googleapis.com/css?family=Blinker');

html{
	background: url('photos/background_02.png');
	background-size: 1350px 950px;
	background-repeat: no-repeat;
	background-position: -60px -200px;
}

.person{
	position: absolute;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	float: right;
}

.person .name{
	position: absolute;

	top: 20px;
	bottom: 0;
	left: 0;
	right: 10px;

	margin: 0;
	padding: 0;
	border: 0;

	font-size: 45px;
	text-align: right;
	font-family: Blinker;
	font-style: bold;
	color: darkblue;
}

.person .title{
	position: absolute;

	top: 50px;
	bottom: 0;
	left: 0;
	right: 10px;

	margin: 0;
	padding: 0;
	border: 0;

	font-size: 20px;
	text-align: right;
	font-family: Bungee Hairline;
	font-style: bold;
	color: black;
}

.person .email{
	position: absolute;

	top: 90px;
	bottom: 0;
	left: 0;
	right: 15px;

	margin: 0;
	padding: 0;
	border: 0;

	font-size: 15px;
	text-align: right;
	font-family: Courier New;
	color: black;
}

.developerPhoto{
	position: absolute;

	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	width: 90px;
	height: 90px;
	object-fit: cover;
  	
	margin: auto;
	z-index: 45;
}

.theLogo{
	position: absolute;

	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;

	/*background-color: rgba(0, 0, 0, 0.6);*/
}

.skillsetPhotos img:not(.logo){
	display: block;
	height: 75px;
	width: 75px;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;

	-moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

	object-fit: cover;
	background-color: white;
	z-index: 20;
}

.theLogo p{
	position: relative;

	top: 56%;
	bottom: 0;
	left: -43.5%;
	right: 0;

	margin: auto;

	text-align: center;
	font-size: 40px;
	float: right;
	font-family: Bungee Hairline;
	font-style: bold;
	color: white;

	z-index: 40;
}

.logo{
	width: 250px;
	height: 250px;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
	z-index: 25;
}

.logo:hover{
	width: 240px;
	height: 240px;

	transition: width 0.5s, height 0.5s;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

.logo:hover .skillsetPhotos img{
	display: block;
	height: 75px;
	width: 75px;

	object-fit: cover;
	background-color: none;
}

.logo:hover ~ .htmlLogo{
	position: absolute;

	top: -150px;
	bottom: 0;
	left: -375px;
	right: 0;
}

.logo:hover ~ .javascriptLogo{
	position: absolute;

	top: 0;
	bottom: 0;
	left: -375px;
	right: 0;
}

.logo:hover ~ .cssLogo{
	position: absolute;

	top: 150px;
	bottom: 0;
	left: -375px;
	right: 0;
}

.logo:hover ~ .javaLogo{
	position: absolute;

	top: -150px;
	bottom: 0;
	left: 375px;
	right: 0;
}

.logo:hover ~ .cSharpLogo{
	position: absolute;

	top: 150px;
	bottom: 0;
	left: 375px;
	right: 0;
}

.logo:hover ~ .unityLogo{
	position: absolute;

	top: -372px;
	bottom: 0;
	left: 150px;
	right: 0;
}

.logo:hover ~ .blenderLogo{
	position: absolute;

	top: -375px;
	bottom: 0;
	left: -150px;
	right: 0;
}

.logo:hover ~ .msOfficeLogo{
	position: absolute;

	top: 375px;
	bottom: 0;
	left: 150px;
	right: 0;
}

.logo:hover ~ .photoshopLogo{
	position: absolute;

	top: 375px;
	bottom: 0;
	left: -150px;
	right: 0;
}

.works{
	/*display: none !important;*/
	position: absolute;
	display: flex;
	justify-content: space-between;

	top: 20px;
	bottom: 0;
	left: 15px;
	right: 0;

	margin: 0;
	padding: 0;
	border: 0;

	width: 365px;
	height: 90%;

	display: grid;
	grid-row-gap: 10%;
  	grid-template-rows: 20% 60%;

	background-color: rgba(0, 0, 0, 0.7);
}

.works p{
	position: relative;
	text-align: center;

	margin: 0;
	padding: 0;
	border: 0;

	font-size: 30px;
	font-family: Bungee Hairline;
	font-style: bold;
	color: white;
}

.works a{
	position: relative;
	text-align: center;
	width: 100%;
}

.works a img{
	position: relative;

	width: 95%;
	z-index: 10;
}

.about{
	/*display: none !important;*/
	position: relative;
	float: right;

	display: flex;
	justify-content: space-around;

	top: 125px;
	bottom: 0;
	left: -20px;
	right: 0;

	margin: 0;
	padding: 0;
	border: 0;
	
	width: 345px;
	height: 400px;

	color: white;
	background-color: rgba(0, 0, 0, 0.7);

	display: grid;
	grid-row-gap: 40px;
  	grid-template-rows: 30px 200px 60px;
}

.about p:not(.content){
	height: 60px;

	margin: 0;
	padding: 0;
	border: 0;

	text-align: center;
	vertical-align: middle;

	font-size: 30px;
	font-family: Bungee Hairline;
	font-style: bold;
}

.content{
	position: relative;

	margin: 0;
	padding: 0;
	border: 0;

	text-align: center;
	vertical-align: middle;

	width: 300px;

	font-size: 24px;
	font-family: Blinker;
	font-style: bold;
	text-transform: uppercase;
}

.contact{
	position: relative;	

	display: flex;
	justify-content: space-around;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: 0;
	padding: 0;
	border: 0;

	height: 75px;
}

.contact .linkedIn img{
	display: block;
	height: 60px;
	width: 60px;

	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	object-fit: cover;
	background-color: none;
}