<mat-toolbar class="portfolio-toolbar">
    <p class="title">{{ pageTitle }}</p>
    <span class="toolbar-spacer"></span>
    <!-- <button mat-flat-button class="contact-button" (click)="openLink()">
        <img class="profile-card-photo" mat-card-image [src]="cardPhotoURL" >
    </button> -->
</mat-toolbar>

<router-outlet></router-outlet>

<mat-toolbar class="portfolio-footer">
    <div class="contact">
        <p>{{ email }}</p>
        <p>{{ linkedIn }}</p>
    </div>
    <span class="toolbar-spacer"></span>
    <button mat-flat-button class="contact-button" (click)="openLink()">
        <img class="profile-card-photo" mat-card-image [src]="cardPhotoURL" >
    </button>
</mat-toolbar>