.title {
    margin: 0;
    height: 60%;
    color: #C0C0C0;
    text-indent: 20px;
    font-family: 'Russo One', sans-serif;
}

.portfolio-toolbar {
    background-color: transparent;
    /* border-bottom: thick solid rgb(192,192,192); */
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.contact-button {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: transparent;
}

.profile-card-photo {
    height: 100%;
    object-fit: contain;
}

.portfolio-footer {
    /* background-color: transparent; */
    /* border-bottom: thick solid rgb(192,192,192); */
    margin: 0;
    height: 100%;
}

.contact {
    height: 75% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact p {
    margin: 0;
    font-size: 15px;
    color: #C0C0C0;
    text-indent: 20px;
    font-family: 'Russo One', sans-serif;
}