.portfolio-toolbar {
    background-color: transparent;
    border-bottom: thick solid black;
    color: black;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.page-title{
    margin-left: 20px;
    margin-right: 20px;
}

.page-title-button{
    margin-left: 5px;
    margin-right: 5px;
    height: 70%;
    width: 50px;
    background-color: transparent;
    border: none;
    color: black;
}