.profile-banner {
    height: 400px;
    width: 100%;
    display: inline-flex;
    /* background: linear-gradient(0deg, rgb(0, 0, 0) 20%, rgba(29, 29, 150, 0.8) 60%); */
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 9px;
    /* border: 4px solid white;
    box-sizing: border-box; */
}

.profile-photo {
    height: 100%;
    /* width: 100%; */
    object-fit: contain;
    /* margin: auto; */
    margin-left: 6%;
    z-index: 10 !important;
}

.profile-name-and-pos {
    width: 60%;
    margin: auto !important;
    z-index: 10 !important;
    display: block;
    position: absolute;
    left: 65%;
    float: right;
    top: 50%;
    transform: translate(-50%, -50%);
}

.profile-details-name {
    color: rgb(192,192,192);
    font-size: 75px;
    line-height: 75px;
    display: block;
    width: 100%;
}

.profile-details-position {
    color: rgb(255, 153, 0);
    font-size: 40px;
    line-height: 40px;
    display: block;
    width: 100%;
}

.profile-history {
    margin: 60px 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(29, 29, 29); */
}

.profile-history-title {
    display: block;
    margin: 15px auto;
    color: white;
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    font-family: 'Russo One', sans-serif;
}

.profile-skillset {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-skillset-container {
    height: 850px;
}