<div class="profile-banner">
  <img class="profile-photo" [src]="profileDetails?.photo" >
  <div class="profile-name-and-pos">
    <label class="profile-details-name">{{ profileDetails?.name }}</label>
    <label class="profile-details-position"><{{ profileDetails?.position }}></label>
  </div>
</div>

<div class="profile-history">
  <label class="profile-history-title">Work Experience</label>
  <app-work-history [history]="history"></app-work-history>
</div>

<label class="profile-history-title">Personal Projects</label>
<app-projects></app-projects>

<div class="profile-skillset">
  <label class="profile-history-title">Skills</label>
  <app-portfolio-skills [skillset]="skillset" class="profile-skillset-container"></app-portfolio-skills>
</div>
