.profile-card {
    height: 450px;
    width: 60%;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 20%, rgba(29, 29, 150, 0.8) 60%);
    margin: 20px auto;
    color: white;
    border-radius: 10px;
}

.profile-card-details {
    height: 100%;
}

.profile-card-details-list {
    height: 50%;
}

.profile-card-details-list-item label {
    text-align: center;
    width: 100%;
}

.profile-card-history {  
    width: 100%;
}

.mat-line {  
    white-space: pre-wrap !important;
}

.profile-card-photo {
    height: 50%;
    object-fit: contain;
    margin: auto;
    display: block;
}