<div class="profile-card">
  <mat-grid-list cols="6" rowHeight="100%">
    <mat-grid-tile colspan="2">
      <div class="profile-card-details">
        <img class="profile-card-photo" mat-card-image [src]="personalDetails?.photo" >
        <mat-list class="profile-card-details-list" role="list">
          <mat-list-item class="profile-card-details-list-item" listitem>
            <label>{{ personalDetails?.name }}</label>
          </mat-list-item>
          <mat-list-item class="profile-card-details-list-item" listitem>
            <label>{{ personalDetails?.position }}</label>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <div class="profile-card-history">
        <label>SCHOOL - WORK HISTORY</label>
        <mat-list role="list">
          <mat-list-item listitem *ngFor="let history of personalDetails?.history">
            <mat-icon *ngIf="history.type === 'school'" mat-list-icon>school</mat-icon> 
            <mat-icon *ngIf="history.type === 'company'" mat-list-icon>devices</mat-icon> 
            <div mat-line>{{ history.name }}</div>
            <div mat-line>{{ history.position }}</div>
            <div mat-line>{{ history.duration }}</div>
            <div mat-line>{{ history.details }}</div>
          </mat-list-item>  
        </mat-list>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
