/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css'; 

html * {
    font-family: 'Archivo Black', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /*background-image: url('./assets/photos/background.png');
  background-position-y: -170px;*/
  /*background-color: rgb(20, 20, 20); */
  background-color: rgb(25, 25, 25);
}

body::-webkit-scrollbar {
  display: none;
}

@-moz-document url-prefix() {
  html,
  body{
    scrollbar-width: none;
  }
}
