.project-card {
    height: 200px;
    width: 350px;
}

.project-web-card {
    height: 600px;
    width: 1200px;
}

.project-cert-card {
    background-color: red;
    height: 600px;
    width: 1200px;
    color: white;
}